<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Calendar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Calendar.Properties.Settings>
            <setting name="DBName" serializeAs="String">
                <value>Calendar.db</value>
            </setting>
            <setting name="TimeToArrival" serializeAs="String">
                <value>09:00:00</value>
            </setting>
            <setting name="LiavingTime" serializeAs="String">
                <value>21:00:00</value>
            </setting>
            <setting name="MaxTimeSpread" serializeAs="String">
                <value>00:05:00</value>
            </setting>
            <setting name="WorkDay" serializeAs="String">
                <value>2019-10-03</value>
            </setting>
        </Calendar.Properties.Settings>
    </userSettings>
</configuration>